* {
    font-family: 'Roboto', sans-serif;
    /* box-sizing: border-box; */
    margin: 0%;
}

body{
    background-color: #c3c0c0;
}

.header-superior{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #c3c0c0;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 130%;
}

li{
    list-style-type: none;
    padding-right: 10%;
}


.header-medio {
   padding-top: 1%;
    display: flex;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 100%;
}

.navBar{
    
    display: flex;
    
    font-size: 200%;
   
    
}  

.iconito{
    font-size: 200%;
}

.lupa{
    width: 60%;
}

.contacto{
    font-weight: bold;
}

.registro{
    color: tomato;
    font-weight: bold;
}