<header>
    <div class="header-superior">
        <div class="contacto">
            <div><span>0381-155654599</span><span> | </span><span>adolfowirth@hotmail.com</span></div>
            
        </div>
        
        <div class="registro">
            <a href="#">Crear Cuenta</a><span>    |    </span></a><a href="#">Ingresar</a></a>
            
        </div>
        
    </div >
    
    <div class="header-medio">
        <a href="/"><img src="/img/logoNegro.png" alt="logo" class="logo"></a>
        <nav >
            <ul class="navBar">
                <li><a href="/">Inicio</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="#">Varios</a></li>
            </ul>
        </nav>

            
            <li> <a href="#"><i class="fa-solid fa-cart-shopping iconito"></i></a></li>
            
    </div>
        

    
    
</header>